body {
    margin: 0;
}

/* .body {
    background-color: black;
} */

.container {
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: 30px auto;
    height: 100%;
    width: 100%;
    /* margin: 50px auto; */
    border: 1px solud #c0c0c0;
    overflow-x: scroll;
    box-sizing: border-box;
}

.plate {
    background-color: grey;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
}
.head-row {
    /* grid-column: 1/3; starts from first column and end at 3rd column for head row */
    /* background-color: aqua; */
    display: flex;
    top: 0;
    position: sticky;
    background-color: #fff;
}
.head-row .col-head {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c0c0c0;
    font-size: 18px;
    font-weight: 600;
}
/* 
.head-row div:first-child {
    width: 40px;
    background-color: grey;
} */

/* .container div {
    border: 2px solid blue;
} */

.serialNo {
    left: 0;
    position: sticky;
    background-color: #fff;
}

.serialNo .sno-cell {
    height: 30px;
    border: 1px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid #c0c0c0;
    width: 150px;
    height: 30px;
    resize: none;
    font-style: normal;
    overflow-y: scroll;
}

.options {
    background-color: #f8fbfd;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-container {
    padding: 10px;
    margin: 0 30px;
    background-color: #edf2fa;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-bottom: 50px;
    align-items: center;
}

.fr-aic {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="checkbox"], input[type="radio"] {
    display: none;
}

input[type="color"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

input[type="checkbox"]:checked + label,  input[type="radio"]:checked + label {
    background-color: #d3e2fd;
}

label {
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.box {
    width: 80vw;
    margin: auto;
}

.box input {
    flex-grow: 1;
    padding: 5px;
    border-radius: 50px;
    border-width: 1px;
}

.box .selected-cell {
    background-color: #d3e2fd;
    padding: 5px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
}

.active-cell {
    border: 1px solid #0957d0;
}